@import "../../app.scss";


.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 74px;
    @include mobile{
        padding: 60px 10px;
    }
    .logo{
        img{
            width: 160px;
            height: 60px;
            
        }
    }

    .links{
        
        display: flex;
        align-items: center;
        gap: 25px;
        span{
            font-weight: 500;
            font-size: 18px;
            color: #80008040;
            &:hover{
                color: #800080;
            }
            cursor: pointer;
            @include mobile{
                display: none;
            }
        }
        .profile{
            display: flex;
            align-items: center;
            gap: 5px;
            position: relative;
            @include mobile{
                padding: 12px 22px;
                background-color: #800080;
                border-radius: 10px;
            }
            .main{
                color: #800080;
                @include mobile{
                    color: rgb(173, 173, 173);
                }
                
            }
            span{
               @include mobile{
                color: white;
                display: flex;
                font-size: 16px;
               }
            }
            .pro{
                @include mobile{
                    display: none;
                }
                width: 20px;
                height: 20px;
            }
            .down{
                width: 12px;
                height: 7px;
                @include mobile{
                    color: white;
                }

            }
            .up{
                width: 12px;
                height: 7px;
                transform: rotate(180deg);
            }
            .dropdown{
                position: absolute;
                top: 40px;
                box-shadow: 0px 3px 100px rgba(0, 0, 0, 0.1);
                padding: 20px;
                width: fit-content;
                border-radius: 20px;
                span{
                    color: #800080;
                }
            }
        }
    }
}